/*Configurações globais do CSS*/

html {
	background-color: #f5f5f5;
	color: #424242;
	margin: 0rem 2.5rem 0rem 2.5rem;
}

body,
main,
section,
h1,
h2,
p {
	margin: 0;
	padding: 0;
}

h1 {
	font-size: 1.75rem;
	margin-top: 2rem;
	letter-spacing: 5%;
}

h2 {
	font-size: 1.5rem;
	margin-top: 1.75rem;
}

p {
	font-size: 1.25rem;
	line-height: 1.75rem;
	letter-spacing: 0.3px;
	margin: 0.75rem 0rem 0.5rem 0rem;
}

/*Configurações das formatações de texto*/
.title {
	font-family: 'Montserrat', sans-serif;
}

.title-card {
	font-family: 'Montserrat', sans-serif;
	color: #f5f5f5;
	font-size: 2rem;
	padding-top: 1.5rem;
	padding-bottom: 1rem;
}

.title-flash {
	font-family: 'Montserrat', sans-serif;
	color: #f5f5f5;
	font-size: 1.5rem;
	padding-bottom: 0.25rem;
}

.paragraph {
	font-family: 'Inter', sans-serif;
	font-size: clamp(1rem, 1.5vw, 2rem);
}

.paragraph-card {
	font-family: 'Inter', sans-serif;
	color: #f5f5f5;
	font-size: 1.5rem;
	padding-top: 0rem;
}

.paragraph-flash {
	font-family: 'Inter', sans-serif;
	color: #f5f5f5;
	font-size: 1rem;
	padding-top: 0rem;
}

.citation {
	font-family: 'Playfair Display', serif;
	color: #e0e0e0;
	font-size: clamp(1rem, 3.65vw, 2.5rem);
	line-height: 150%;
	letter-spacing: 4%;
}
