.header {
	display: flex;
	align-items: center;
	height: 60px;
	margin: 0rem 5rem 0rem 5rem;
}
.nav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	margin: 0rem 0rem 0rem 0rem;
	gap: 4rem;
}

.header > img {
	margin-right: 16rem;
}

.nav > a {
	color: #424242;
	font-size: 1rem;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1px;
}
.galery1 {
	width:58.9375rem ;
	height: 16.5rem ;
	border-radius: 1.875rem;
	margin-bottom: 5rem;
	margin-top: 5rem;
	box-shadow: 0.3125rem 0.3125rem 0.3125rem 0.3125rem gray;
	justify-self: center;
	
}
#galery1 {
	background: url('../img/Card_Causas.png');
}
.description {
	font-family: Montserrat;
	color: whitesmoke;
	justify-self: center;
	padding: 0.625rem;
	font-size: 1.875rem;
	
}
.description2 {
	font-family: Inter;
	color: whitesmoke;
	justify-self: center;
	font-size: 1.375rem;
	
	
	
}
.description3 {
	font-family: Inter;
	color: whitesmoke;
	justify-self: center;
	font-size: 1.375rem;
}
.button {
	font-family: inter;
	font-size:1.25rem;
	border-radius:0.875rem ;
	cursor: pointer;
	margin-top: 2rem;
	width:13.125rem ;
	height: 3.4375;
    
}
.galery2 {
	width:58.9375rem ;
	height: 16.5rem ;
	border-radius: 1.875rem;
	margin-bottom: 5rem;
	box-shadow: 0.3125rem 0.3125rem 0.3125rem 0.3125rem gray;
	justify-self: center
	
}
#galery2 {
	background: url('../img/Card_Efeitos.png');
}
.description4 {
	font-family: Montserrat;
	color: whitesmoke;
	justify-self: center;
	padding: 0.625rem;
	font-size: 1.875rem;
	
}
.description5 {
	font-family: Inter;
	color: whitesmoke;
	justify-self: center;
	font-size: 1.375rem;
	
	
	
}
.description6 {
	font-family: Inter;
	color: whitesmoke;
	justify-self: center;
	font-size: 1.375rem;
}
.button2 {
	font-family: inter;
	font-size:1.25rem;
	border-radius:0.875rem ;
	cursor: pointer;
	margin-top: 2rem;
	width:13.125rem ;
	height: 3.4375;
    
}
.galery3 {
	width:57.6875rem ;
	height: 14rem ;
	border-radius: 1.875rem;
	margin-bottom: 5rem;
	box-shadow: 0.3125rem 0.3125rem 0.3125rem 0.3125rem gray;
	justify-self: center
}
#galery3 {
	background: url('../img/Card_Ativismo.png');
}
.description7 {
	font-family: Montserrat;
	color: whitesmoke;
	justify-self: center;
	padding: 0.625rem;
	font-size: 1.875rem;
	
}
.description8 {
	font-family: Inter;
	color: whitesmoke;
	justify-self: center;
	font-size: 1.375rem;
	
	
	
}
.description9 {
	font-family: Inter;
	color: whitesmoke;
	justify-self: center;
	font-size: 1.375rem;
}
.button3 {
	font-family: inter;
	font-size:1.25rem;
	border-radius:0.875rem ;
	cursor: pointer;
	margin-top: 2rem;
	width:13.125rem ;
	height: 3.4375;
    
}
.galery4 {
	width:57.6875rem ;
	height: 14rem ;
	border-radius: 1.875rem;
	margin-bottom: 5rem;
	box-shadow: 0.3125rem 0.3125rem 0.3125rem 0.3125rem gray;
	justify-self: center
}
#galery4 {
	background: url('../img/Card_Linha.png');
}
.description10 {
	font-family: Montserrat;
	color: whitesmoke;
	justify-self: center;
	padding: 0.625rem;
	font-size: 1.875rem;
	
}
.description11 {
	font-family: Inter;
	color: whitesmoke;
	justify-self: center;
	padding-top: 0.625rem;
	font-size: 1.375rem;
	
	
	
}
.description12 {
	font-family: Inter;
	color: whitesmoke;
	justify-self: center;
	font-size: 1.375rem;
}
.button4 {
	font-family: inter;
	font-size:1.25rem;
	border-radius:0.875rem ;
	cursor: pointer;
	margin-top: 2rem;
	width:13.125rem ;
	height: 3.4375;
    
}
body {
	text-align: center;
}
