.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 60px;
}

.nav {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 4.5rem;
}

.nav > a {
	color: #424242;
	font-size: 1rem;
	letter-spacing: 2px;
	font-weight: bold;
	text-wrap: nowrap;
	text-decoration: none;
	text-transform: uppercase;

}
.galery {
	width:54rem ;
	height: 15rem ;
	border-radius: 2rem;
	margin-bottom: 3rem;
	margin-top: 3rem;
	box-shadow: 0.3rem 0.3rem 0.3rem 0.3rem gray;
	justify-self: center;
	
}

.description {
	font-family: Montserrat;
	color: whitesmoke;
	justify-self: center;
	padding: 0.6rem;
	font-size: 2rem;
	
}
.description2 {
	font-family: Inter;
	color: whitesmoke;
	justify-self: center;
	font-size: 1.4rem;	
}


.button {
	font-style: Inter;
	font-size: 1.4rem;
	background-color: whitesmoke;
    color: #424242;
	border-radius: 0.5rem;
	text-decoration: none;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 0.2rem;
	padding-right: 0.2rem;
	line-height: 10rem;
}

.cards {
	text-align: center;
}
